@media(max-width: 768px){
    .main{
        display: block !important;
    }
    .imgconsole{
        width: 450px;
        height: 180px;
    }
    .card-container{
        display: block !important;
    }
    main div img{
        width: 490px;
        height: 210px;
    }
}
@media(max-width: 1040px){
    .main{
        display: block !important;
        flex-wrap: wrap;
        
    }
    .card{
        width: 99% !important;
    }
    main div img{
        width: 490px;
        height: 210px;
    }
}
@media(max-width: 1200px){
    .main{
        display: flex !important;
    }
    .card{
        width: 99% !important;
    }
    .media-p{
        display: block !important;
    }
    main div img{
        width: 490px;
        height: 210px;
    }
}
body{
    background: radial-gradient(var(--cor-aqua1), var(--steam-2));
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: block;
}
header{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--cor-sequndaria);
    font-family: var(--fonte); 
    font-size: 15px;
}
header img{
    height: 60px;
    width: 60px;
}
header nav {
    display: flex;
    justify-content: flex-end;
}
header nav span a{
    color: var(--cor-primaria);
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    margin-top: 15px;
}
/*Cores*/
:root{
    --cor-vermelho1: #ff1f3d;
    --cor-vermelho2: #ff3751;
    --cor-azul1: #352eff;
    --cor-azul2: #2b4dff;
    --cor-azul3: #6a66ff;
    --cor-amarelo1: #ffd552;
    --cor-amarelo2: #fce56f;
    --cor-aqua1: #6bffd8;
    --cor-aqua2: #59ffd8;
    --cor-sete: #ff8880;
    --cor-primaria: #dffff7;
    --cor-sequndaria: #454e4c;
    --play: #00439c;
    --xbox: #107c10;
    --nintendo: #e70012;
    --steam-1: #1b334f;
    --steam-2: #1e2f4d;
    --epic: #121212;
    --origin: #edf1f2;
    --prime: #3a2e5c;
    --ubisoft: #e5e8f1;
    --battle1: #30587d;
    --battle2: #1a2e49;
    --fonte: Copperplate, "Copperplate Gothic Light";
}
/*Cores de fundo*/
/*Menu DropDown*/
.dp-menu ul{
    list-style-type: none;
    padding: 0;
}
.dp-menu ul{
    background-color: var(--cor-sequndaria);
}
.dp-menu ul li{
    display: inline;
    position: relative;
}
.dp-menu ul li a{
    color: var(--cor-primaria);
    display: inline-block;
    text-decoration: none;
    padding: 10px;
}
.dp-menu ul li a:hover{
    color: var(--cor-sequndaria);
}
.dp-menu ul li:hover{
    background-color: var(--cor-aqua2);
    padding: 10px;
    color: var(--cor-sequndaria);
    transition: background .6s;
}
/*Suub Menu*/
.dp-menu ul ul{
    display: none;
    left: 0;
    position: absolute;
}
.dp-menu ul li:hover ul{
    display: block;
    color: var(--cor-sequndaria);
}
.dp-menu ul li ul li:hover a{
    background-color: var(--cor-aqua2);
    color: var(--cor-sequndaria);
    transition: background .6s;
}
.dp-menu ul ul{
    width: 132.4px;
}
.dp-menu ul ul li a{
    display: block;
}
/*Cards principal*/
main h4 a {
    text-decoration: none;
    color: var(--cor-sequndaria);
}
.main{
    font-family: var(--fonte);
    color: var(--cor-sequndaria);
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}
.card{
    box-shadow: 0, 4px, 8px, 0 rgba(0,0,0,0.2);
    transition: .3s;
    width: 99%;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4px;
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    margin: 6px;
}
.container{
    padding: 2px 16px;
}
.card-container{
    display: grid;
    row-gap: 10px;
    column-gap: 5px;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}
/*Cards Promoções*/
.item-card{
    text-decoration: none;
    color: var(--cor-sequndaria);
    margin: 8px;
    /*display: flex;
    flex-wrap: wrap;
    justify-content: center;*/
}
.item-card2{
    text-decoration: none;
    color: var(--cor-primaria);
    margin: 8px;
}
.item5{
    display: grid;
    grid-template-columns: auto;
    grid-column-start: 2;
    grid-column-end: 3;
}
.item6{
    display: grid;
    grid-template-columns: auto;
    grid-column-start: 3;
    grid-column-end: 4;
}
/*Cores dos Cards*/
.pcs{
    background: linear-gradient(to right, var(--steam-1), var(--epic), var(--prime), var(--battle2));
}
.console{
    background: linear-gradient(to right, var(--nintendo), var(--play), var(--xbox));
}
.xbox{
    background-color: var(--xbox);
}
.play{
    background-color: var(--play);
}
.nintendo{
    background-color: var(--nintendo);
}
.steam{
    background: radial-gradient(var(--steam-1), var(--steam-2));
}
.epic{
    background-color: var(--epic);
}
.origin{
    background-color: var(--origin);
}
.prime{
    background-color: var(--prime);
}
.ubisoft{
    background-color: var(--ubisoft);
}
.battle{
    background: radial-gradient(var(--battle1), var(--battle2));
}
/*RodaPé*/
.rodapé{
    
    font-family: var(--fonte);
    background-color: var(--cor-sequndaria);
    color: var(--cor-primaria);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
footer{
    font-family: var(--fonte);
    background-color: var(--cor-sequndaria);
    color: var(--cor-primaria);
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
footer div a{
    text-decoration: none;
    color: var(--cor-primaria);
    font-size: 20px;
    margin: 10px;
}
footer div a:hover{
    font-size: 30px;
    transition: .6s;
    color: var(--cor-aqua2);
}